
<h2>About</h2>

<p>This project archives articles from <a href="https://www.bbc.co.uk/news">BBC News</a>.</p>

<p>Source code licenced under MIT. Find it on <a href="https://github.com/RichTeaMan/NewsCrawler">GitHub</a>.</p>
