@model NewsCrawler.WebUI.Models.ArticleResult

<div class="row">
    <div class="col-md">
        <h2>Archived Articles</h2>

        <div>
            <h3>Search</h3>
            <form method="get" asp-controller="Home" asp-action="Search">
                <!-- Input and Submit elements -->
                <input name="term" type="text" value="@Model.SearchTerm" />
            </form>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date Recorded</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model.ArticleList)
                {
                    <tr>
                        <td><a href="@article.Link" target="_blank">@article.Title</a></td>
                        <td>@article.RecordedDate.ToString("g")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
